# Variables de Entorno de Producción (Sin Secretos Hardcodeados)
PORT=8000
DEBUG=False
SECRET_KEY=clave-secreta-produccion-m5-ultra-segura-2026
ALLOWED_HOSTS=127.0.0.1,localhost,mi-servicio.onrender.com
DATABASE_URL=sqlite:///./prod.db